.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add_button {
  background-color: #b3b8de;
  border-radius: 3px;
  border: none;
  height: 50px;
  width: 600px;
  display: inline-block;
  margin: 20px auto;
  font-size: 250%;
  color: #686e93;
}
.add_button:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: #535b90;
  background-color: #a5abd5;
}
